In [162]:
import pandas as pd

# Load the raw data


pd.read_csv('spam.csv') # raises unicode decode error

pd.read_csv('spam.csv', encoding='Latin-1') # works

In [15]:
# when encoding is unknown
import chardet 
with open('spam.csv', 'rb') as f:
    result = chardet.detect(f.read())  # or readline if the file is large

print(result['encoding'])
df_raw = pd.read_csv('spam.csv', encoding=result['encoding'])

Windows-1252

In [16]:
df_raw.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# Clean the raw data

In [27]:
df = df_raw[['v1', 'v2']].rename(columns={'v1' : 'label', 'v2' : 'sms'})

In [28]:
df.head()

  label                                                sms
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

# Explore the clean data

In [29]:
df.describe()

       label                     sms
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [30]:
df.drop_duplicates(subset='sms', inplace=True)

In [31]:
df.describe()

       label                                                sms
count   5169                                               5169
unique     2                                               5169
top      ham  Em, its olowoyey@ usc.edu have a great time in...
freq    4516                                                  1

In [41]:
df.groupby('label').count().reset_index()

  label   sms
0   ham  4516
1  spam   653

In [42]:
df['len'] = df['sms'].map(lambda x: len(x))

In [46]:
df.groupby('label').agg({'sms': 'count', 'len' : 'mean'}).reset_index()

  label   sms         len
0   ham  4516   70.459256
1  spam   653  137.891271

# Separate training data and test data

In [90]:
"""
    Train-test split: Do not touch the test data until the time of final evaluation.
        Which stage of the pipeline do we reserve the test data ?
            - after obtaining raw data but before cleaning it 
            - after cleaning but before exploring
            - after exploring but before featurizing/training
"""

from sklearn.model_selection import train_test_split

X = df['sms']
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [91]:
print("Shape of X is {}".format(X.shape))
print("Shape of X_train is {} and shape of y_train is {}".format(X_train.shape, y_train.shape))
print("Shape of X_test is {} and shape of y_test is {}".format(X_test.shape, y_test.shape))

Shape of X is (5169,)
Shape of X_train is (3876,) and shape of y_train is (3876,)
Shape of X_test is (1293,) and shape of y_test is (1293,)

In [92]:
train_corpus = list(X_train)

# Build a featurizer from training data

In [93]:
"""
    Featurizer: Train the featurizer on train data.
"""
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(max_features=5000)
vectorizer.fit(train_corpus)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=5000, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,
        stop_words=None, strip_accents=None, sublinear_tf=False,
        token_pattern='(?u)\\b\\w\\w+\\b', tokenizer=None, use_idf=True,
        vocabulary=None)

In [94]:
print("Number of features = {}".format(len(vectorizer.vocabulary_)))
print("Number of omitted words = {}".format(len(vectorizer.stop_words_)))

Number of features = 5000
Number of omitted words = 2395

In [95]:
X_train_features = vectorizer.transform(list(X_train))
print("Shape of X_train_features is {}".format(X_train_features.shape))

Shape of X_train_features is (3876, 5000)

# Train a model

In [137]:
"""
    Training a classifier: Train a Logistic Regression classifier
"""
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(random_state=42)

model.fit(X_train_features, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [139]:
"""
    Evaluation on training data: This does not mean anything  
        Do not take the evaluate on the same data that you trained on very seriously
"""
from sklearn.metrics import accuracy_score, confusion_matrix

y_train_predicted = model.predict(X_train_features)

print("The fraction of correctly classified samples is {}".format(accuracy_score(y_train, y_train_predicted)))
print("The number of correctly classified samples is {}".format(accuracy_score(y_train, 
                                                                               y_train_predicted, normalize=False)))

pd.DataFrame(confusion_matrix(y_train_predicted, y_train), 
             index={'true ham', 'true spam'}, 
             columns={'pred ham', 'pred spam'})

The fraction of correctly classified samples is 0.9713622291021672
The number of correctly classified samples is 3765

           pred ham  pred spam
true ham       3408        110
true spam         1        357

# Cross validation

In [126]:
"""
    Evaluation within training data: k-fold cross validation
        - randomly partition the training data into k parts
        - train on k-1 parts and evaluate on the remaining part
"""
from sklearn.linear_model import LogisticRegressionCV

cv_model = LogisticRegressionCV(cv=5, random_state=42)
cv_model.fit(X_train_features, y_train)
cv_model.scores_

{'spam': array([[0.87886598, 0.87886598, 0.87886598, 0.87886598, 0.90463918,
         0.96778351, 0.97680412, 0.97680412, 0.97680412, 0.97680412],
        [0.87886598, 0.87886598, 0.87886598, 0.87886598, 0.92139175,
         0.96649485, 0.97809278, 0.98453608, 0.98840206, 0.98324742],
        [0.88      , 0.88      , 0.88      , 0.88      , 0.92258065,
         0.97677419, 0.98709677, 0.98967742, 0.98580645, 0.98322581],
        [0.88      , 0.88      , 0.88      , 0.88      , 0.90967742,
         0.96516129, 0.9716129 , 0.97419355, 0.97677419, 0.97419355],
        [0.87984496, 0.87984496, 0.87984496, 0.87984496, 0.91085271,
         0.96770026, 0.97932817, 0.98191214, 0.98449612, 0.98191214]])}

In [143]:
"""
    Training a decision tree of various depth and printing cross validation scores
"""
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

d_max = 3

cv_scores = []
for d in range(1, d_max+1):
    model = DecisionTreeClassifier(max_depth=d)
    scores = cross_val_score(model, X=X_train_features, y=y_train, cv=5, n_jobs=4)
    cv_scores.append((scores.mean(), scores.std()))
    
for mean, std in cv_scores:
    print("mean = {} std = {}".format(mean, std))

mean = 0.9004073114498556 std = 0.006677812504596322
mean = 0.93188588727938 std = 0.005764552123775337
mean = 0.9396291624452505 std = 0.006283788903960686

# Final evaluation on test data

In [140]:
"""
    Evaluation on test data: This score is important
"""
X_test_features = vectorizer.transform(list(X_test))
y_test_predicted = model.predict(X_test_features)

print("The fraction of correctly classified samples is {}".format(accuracy_score(y_test, y_test_predicted)))
print("The number of correctly classified samples is {}".format(accuracy_score(y_test, y_test_predicted, normalize=False)))

pd.DataFrame(confusion_matrix(y_test_predicted, y_test), 
             index={'true ham', 'true spam'}, 
             columns={'pred ham', 'pred spam'})

The fraction of correctly classified samples is 0.9675174013921114
The number of correctly classified samples is 1251

           pred ham  pred spam
true ham       1105         40
true spam         2        146

# References
- How to handle class imbalance?
https://elitedatascience.com/imbalanced-classes

# Training multiple models

https://www.kaggle.com/muzzzdy/sms-spam-detection-with-various-classifiers

In [161]:
"""
    Observing cross validation scores of several models    
"""
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import cross_val_score

from collections import defaultdict

models = defaultdict()

logistic_regression = LogisticRegression()
models['logistic_regression'] = logistic_regression

decision_tree = DecisionTreeClassifier()
models['decision_tree'] = decision_tree

random_forest = RandomForestClassifier()
models['random_forest'] = random_forest


for key, model in models.items():
    cv_score = cross_val_score(model, X_train_features, y_train, cv=5, n_jobs=4).mean()
    print(cv_score)
    models[key] = {'model': model, 'cv_score': cv_score}
    
pd.DataFrame.from_dict(models, orient='index', columns=['cv_score'])

0.9540774549307429
0.9600109468947993
0.965171912393906

                     cv_score
decision_tree        0.960011
logistic_regression  0.954077
random_forest        0.965172